* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */
header {
    padding: 20px 35px;
    background-color: #f26b8a;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color:  #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header nav ul li a:hover {
    background: #fce138;
    color: #f26b8a;
    border-radius: 5px;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.intro h2 {
    font-size: 55px;
    margin: 50px 60px 0 200px;
    text-align: right;
    color: #fc4c4e;
    border-right: 5px solid #fce138;
    padding: 15px 20px 0 0;
}

.intro p {
    line-height: 1.7;
    color: #fc4c4e;
    font-size: 20px;
    margin: 50px 80px 0 0;
}

/* footer style */
footer {
    background: #f26b8a;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #fce138;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #fce138;
}

section {
    padding: 60px;
}

/* hero style start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-content {
    background-color: #f26b8a;
    padding: 20px;
    width: 600px;
    color: #fce138;
    border-style: solid;
    border-width: 3px;
    border-color: #f26b8a;
    border: solid 3px #f26b8a;
    position: absolute;
    bottom: 120px;
    right: 140px;
}

.section-title .primary-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-right: 5px solid #f26b8a;
}

.primary-border p {
    font-size: 20px;
    margin: 50px 100px 0 0;
    color: #1F4C85;
}

/* style my work */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #f26b8a;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color:  #f26b8a;
    text-align: center;
    padding: 20px 0;
  }

.projects {
    text-align: center;
}

.projects h2 {
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    color: #f26b8a;
    border-bottom: 3px solid;
    border-color:#fce138;
}

.project img {
    height: 35%;
    width: 35%;
}