* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hero style start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-content {
    background-color: #f26b8a;
    padding: 20px;
    width: 400px;
    color: #fce138;
    font-size: 22px;
    border-radius: 40px 0 0 40px;
    border-style: solid;
    border-width: 3px;
    border-color: #f26b8a;
    border: solid 3px #f26b8a;
    position: absolute;
    bottom: 70px;
    left: 55%;
}

/* header style */
header {
    padding: 20px 35px;
    background-color: #f26b8a;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color:  #fce138;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

header nav ul li a:hover {
    background: #fce138;
    color: #f26b8a;
    border-radius: 5px;
}

body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.intro h2 {
    font-size: 55px;
    margin: 50px 60px 0 35px;
    text-align: right;
    color: #fc4c4e;
    border-right: 5px solid #fce138;
    padding: 15px 20px 0 0;
}

.intro p {
    line-height: 1.7;
    color: #fc4c4e;
    font-size: 20px;
    margin: 50px 80px 0 0;
}

/* style my work */

.projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 45px;
}

.projects h2 {
    font-size: 55px;
    margin: 50px 60px 0 35px;
    text-align: right;
    color: #fc4c4e;
    border-right: 5px solid #fce138;
    padding: 15px 20px 0 0;
}

.column {
    float: left;
    width: 250px;
    height: 250px;
}

.column img {
    margin: 50px 80px 0 0;
    width: 250px;
    height: 250px;
    padding: 5px;
}

.row {
    flex-wrap: wrap;
}

/* clear floats */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* contact me section */

.contact {
    display: flex;
    flex-direction: row;
    margin: 50px 80px 0 0;
}

.contact h2 {
    font-size: 45px;
    text-align: right;
    color: #fc4c4e;
    border-right: 5px solid #fce138;
    margin: 0 60px 35px 35px;
    padding: 15px 20px 0 0;
    font-weight: bold;
}

.contacts {
    line-height: 5;
    font-size: 40px;
    color: #fc4c4e;
    font-size: 28px;
    margin: 0 52px 0 0;
    word-spacing: 50px;
    font-weight: bold;
}

.contacts a {
    text-decoration: none;
    color:   #fc4c4e;
}

.contacts nav {
    float: left;
    margin: 7px 0;
}

.contacts nav ul li {
    display: inline;
}

.contacts nav ul li a:hover {
    background: #fce138;
    color: #fc4c4e;
    border-radius: 5px;
    border-bottom: 5px solid #fc4c4e;
}

/* footer style */
footer {
    background: #f26b8a;
    width: 100%;
    padding: 30px 35px 50px;
}

footer h4 {
    display: inline;
    color: #fce138;
    text-align: right;
}

section {
    padding: 5px;
}

/* Laptop with 1024 width - Perfect */

/* Media Query for smaller desktop screens and smaller */

@media screen and (max-width: 980px) {

    .projects h2 {
        padding: 20px 25px 0 0;
    }

    .contact h2 {
        padding: 15px 20px 0 0;
        margin: 0 60px 35px 25px;
    }

}

/* Media Query for tablets and smaller */

@media screen and (max-width: 768px) {

    .hero-content {
        width: 290px;
        color: #fce138;
        font-size: 16px;
        bottom: 60px;
        left: 55%;
    }

    header nav {
        margin: 10px 0;
    }

    header nav ul li a {
        margin: 10px 20px 0 0;
        font-weight: lighter;
        font-size: 20px;
    }

    .intro h2 {
        font-size: 40px;
        margin: 50px 60px 0 35px;
        text-align: right;
        color: #fc4c4e;
        border-right: 5px solid #fce138;
        padding: 15px 20px 0 0;
    }
    
    .intro p {
        line-height: 1.7;
        color: #fc4c4e;
        font-size: 20px;
        margin: 50px 80px 0 0;
    }

    .projects {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding-bottom: 15px;
    }
    
    .projects h2 {
        font-size: 40px;
        margin: 50px 30px 0 35px;
        text-align: right;
        color: #fc4c4e;
        border-right: 5px solid #fce138;
        padding: 15px 20px 0 0;
    }

    .column img {
        margin: 50px 20px 0 0;
        height: 200px;
        padding: 10px;
    }

    .contact h2 {
        font-size: 32px;
        margin: 50px 30px 50px 35px;
        padding: 15px 20px 0 0;
    }

    .contact {
        margin: 0 60px 0 0;
        height: 250px;
    }  

    .contacts {
        line-height: 10;
        font-size: 22px;
        margin: 0 30px 0 0;
        word-spacing: 30px;
    }

    .row {
        flex-wrap: wrap;
    }
    
    /* clear floats */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    
}

/* Media Query for mobile phones and smaller */

@media screen and (max-width: 575px) {

}